<h4> about us </h4>


<br/><br/>
<p> With the COVID pandemic, the RGoB has allowed the sale of Tobacco through Bhutan Duty Free
Limited(BDFL) legally with a 100% tax to prevent illegal smuggling of Tobacco products across the border.</p>
<br/>
<p>However it is still reported that despite the high prices of the illegally obtained tobacco products, people still
buy it and many attribute the reason as difficulty to obtain products from BDFL such as, the phone
numbers being always busy and inability to book a token easily. It is also reported the channel of
distributions being insufficient and far, or simple people not having knowledge of where the outlets are
located.</p><br/>

<p>To address this problem, this website has been developed, so that people will easily get those stuffs through online
where to prevent illegal smuggling of Tobacco products across the border.</p>
